<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.boardserver.auth.mapper.UserMapper">

    <select id="selectUserById" resultType="UserDAO">
        SELECT * FROM user WHERE userId = #{userId}
    </select>

    <select id = "selectUserByIdAndPassword" resultType="UserDAO">
        SELECT * FROM user WHERE userId = #{userId} AND password = #{password}
    </select>

    <insert id="insertUser" parameterType="UserRegisterDAO">
        INSERT INTO user (userId, password, nickname, isAdmin, isWithDraw, createdAt)
        VALUES (#{userId}, #{password}, #{nickname}, #{isAdmin}, #{isWithDraw}, #{createdAt})
    </insert>

    <update id="withDrawUserById" parameterType="UserUpdateDAO">
        UPDATE user SET isWithDraw = #{isWithDraw}, updatedAt = #{updatedAt} WHERE userId = #{userId}
    </update>

    <delete id="deleteUserById">
        delete from user where userId = #{userId}
    </delete>

    <select id = "isDuplicatedId" resultType="Integer">
        SELECT COUNT(seq) as COUNT FROM user WHERE userId = #{userId}
    </select>

    <update id = "updatePassword" parameterType="UserUpdateDAO">
        UPDATE user SET password = #{password}, updatedAt = #{updatedAt} WHERE userId = #{userId}
    </update>



</mapper>